.about-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e6e3;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 1100px;
  min-height: 500px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
  cursor: pointer;
}

.about-container:hover {
  background-color: #071129;
  color: white;
  transform: scale(1.02);
}

.about-image img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}

.about-container:hover .about-image img {
  transform: scale(1.05);
}

.about-text {
  max-width: 650px;
  transition: color 0.5s ease;
}

.about-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 15px;
  transition: color 0.5s ease;
}

.about-description {
  font-size: 18px;
  line-height: 1.9;
  color: #444;
  transition: color 0.5s ease;
}

.about-container:hover .about-title,
.about-container:hover .about-description {
  color: white;
}

/* New styles for list */
.about-specialties {
  margin-top: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 2;
  color: #444;
  transition: color 0.5s ease;
}

.about-container:hover .about-specialties {
  color: white;
}

.about-specialties li {
  margin-bottom: 10px;
}

.about-icons {
  margin-top: 35px;
  display: flex;
  gap: 30px;
  font-size: 32px;
}

.about-icons i {
  cursor: pointer;
  transition: 0.3s;
}

.about-icons i:hover {
  transform: scale(1.3);
  color: white;
}
