/* Background sa gawas */
body {
  background-color: #8c9ec9;
}

/* Main Contact box */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e6e3;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 1100px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: all 0.5s ease; /* smooth transition */
}

/* Pag hover sa box */
.contact-container:hover {
  background-color: #071129;
  transform: scale(1.02);
}

/* Text styles */
.contact-text {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: color 0.5s ease;
}

.contact-text h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #141312;
  transition: color 0.5s ease;
}

.contact-text p {
  line-height: 1.9;
  font-size: 18px;
  color: #444;
  transition: color 0.5s ease;
}

/* Pag hover: white tanan text */
.contact-container:hover .contact-text h1,
.contact-container:hover .contact-text p {
  color: white;
}

/* GitHub link */
.github-link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.github-link:hover {
  text-decoration: underline;
  color: white;
}
