body {
  background-color: #8c9ec9;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e6e3;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 1100px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}

.contact-container:hover {
  background-color: #071129;
  transform: scale(1.02);
  color: white;
}

.contact-text {
  width: 100%;
  text-align: center;
}

.contact-text h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.contact-text p {
  font-size: 18px;
  margin: 10px 0;
}


@media (max-width: 768px) {
  .contact-container {
    padding: 30px;
  }

  .contact-text h1 {
    font-size: 36px;
  }

  .contact-text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contact-text h1 {
    font-size: 28px;
  }
  .contact-text p {
    font-size: 15px;
  }
}
