body {
  background-color: #8c9ec9;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e8e6e3;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 1100px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}

.profile-container:hover {
  background-color: #071129;
  color: white;
  transform: scale(1.02);
}

.profile-text {
  flex: 1;
  min-width: 280px;
  padding-right: 30px;
  transition: color 0.5s ease;
}

.profile-name {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.5s ease;
}

.profile-description {
  font-size: 18px;
  line-height: 1.8;
  color: #444;
  transition: color 0.5s ease;
}

.profile-container:hover .profile-name,
.profile-container:hover .profile-description {
  color: white;
}

.profile-image img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}

.profile-container:hover .profile-image img {
  transform: scale(1.05);
}


@media (max-width: 1024px) {
  .profile-container {
    padding: 30px;
  }

  .profile-name {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .profile-text {
    padding-right: 0;
  }

  .profile-image img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .profile-name {
    font-size: 32px;
  }
  .profile-description {
    font-size: 16px;
  }
}
