.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e6e3;
  padding: 50px;            
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 1400px;        
  min-height: 500px;        
  margin: 50px auto;        
}

.profile-text {
  flex: 1;
  max-width: 750px;         
  padding-right: 30px;
}

.profile-name {
  font-size: 55px;          
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-description {
  font-size: 18px;          
  line-height: 1.9;
  color: #444;
}

.profile-image img {
  width: 450px;            
  height: 450px;
  border-radius: 8px;
  object-fit: cover;
}
