.footer {
  background-color: #071129;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .footer {
    font-size: 14px;
    padding: 15px;
  }
}
